body {
  
    background: linear-gradient(90deg, #202020 50%, #202020 50%);
    background-color: #fffefe; 
    color: #fffefe;
  }

  h1{
    margin-top: -0.8rem;
    text-align: center;
    color: rgb(60, 152, 167);
    border-bottom: 2px;
    background-color:rgb(61, 57, 57);
    border-color:rgb(172, 172, 172) ;
    padding: 4px;
}
h3{
    width: fit-content;
    padding: 1rem;
    text-align: center;
    margin-left: 40%;
    color: rgb(255, 255, 255);
    background-color: darkblue;
   
}

 #introduction{
    color: rgba(0,255,0,.75);
    font-family: 'Anton', sans-serif;
    font-family: 'Benne', serif;
    font-size: large;
    font-weight: 200;
    padding-left: 1.5rem;
    
}

.flexbox{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    padding-left: 4rem;
    padding-right: 4 rem;
    margin-top: 0px;
    margin-bottom: 0px;
}
#about{
    background-color: aliceblue;
    padding: 1rem;
    text-align: left;
    color: red;
    font-family: serif;
    font-size: 20px;
}
.explanation{
    background-color: rgb(178, 180, 182);
    padding: 2px;
    text-align: left;
    color: rgb(8, 8, 8);
    margin-top: -1px;
  
    font-size: 15px;


}
.explanation #explanation{
    font-weight: bolder;
    font-size: 20px;

}
.submit{
    background-color: rgb(0, 0, 0);
    padding:3rem;
    text-align: left;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-align: center;
    height: 30vh;
}
.button{
    height: 2rem;
    width: 7rem;
    font-size: medium;
    border-radius: 5rem;
    
}
.button:hover{
    transition: ease-out;
    background-color: chartreuse;
    cursor: pointer;
    transform: scale(1.5);

}
